body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /* background-color: rgb(210, 233, 210); */
    margin: 0;
    background-image:url(./technology-background-analog-clock-time-vector.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;

}

*{
      


  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

  


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 170px;
    padding: 20px 30px;
    /* background-color: whitesmoke; */
    background-image: url(./795952.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 380px;
    width: 420px;
    border-radius: 50px;
}

@media (max-width : 576px) {
     .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 90px;
    padding: 10px  40px;
    background-color: whitesmoke;
    height: 350px;
    width: 275px;
    border-radius: 200px;
}


}

.heading{
    text-align: center;
    font-size: 4em;
    
}

@media (max-width : 576px)  {
     .heading{
    text-align: center;
    font-size: 2.5em;
    
}
}


#display{
    background-color:transparent;
    color: white;
    font-size: 55px ;
    padding: 20px 50px;
    border-radius: 30px;
    box-shadow: black 5px 5px 5px 5px;
}

@media (max-width : 576px) {
     
#display{
    background-color: transparent;
    color: white;
    font-size: 37px ;
    padding: 20px 20px;
    border-radius: 40px;
    box-shadow: black 5px 5px 5px 5px;
    width: 250px;
    text-align: center;
}
}

@media (max-width : 576px) {
     
.button{
display: flex;

}

}


#start{
     font-size: 25px;
    height: 69px ;
    width: 110px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px lightslategray;
     
    background-color:;
     border:antiquewhite 1px solid ;
     box-shadow: white 5px 5px 5px 2px;
   
}

#start:hover{
     font-size: 26px;
    height: 73px ;
    width: 115px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    
       background-color:antiquewhite;
      border:antiquewhite 1px solid ;
     box-shadow: white 5px 5px 5px 2px;
     transition: 0.3s;
     background-color:lavenderblush;
}

@media (max-width : 576px) {
     #start{
     font-size: 20px;
    height: 60px ;
    width: 90px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
     border:black 1px solid ;
background-color:antiquewhite;
     border:antiquewhite 1px solid ;
      box-shadow: white 5px 5px 5px 2px;
   
}

#start:hover{
     font-size: 23px;
    height: 65px ;
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
     
       background-color:lavenderblush;
      border:antiquewhite 1px solid ;
     box-shadow: white 5px 5px 5px 2px;
     transition: 0.3s;
}

}


#reset{
     font-size: 25px;
    height: 63px ;
    width: 110px;
     box-shadow: white 2px 2px 2px;
     border-radius: 10px;
     background-color:transparent;
     border:antiquewhite 1px solid ;
     color: wheat;
     box-shadow: white 5px 5px 5px 2px;
}

#reset:hover{
     font-size: 26px;
    height: 65px ;
    width: 115px;
     box-shadow: white 5px 5px 5px 2px;
     border-radius: 10px;
         background-color: black;
     color: white;
     border:black 1px solid ;
     transition: 0.3s;
}

@media (max-width : 576px) {
     #reset{
     font-size: 20px;
    height: 55px ;
    width: 80px;
     box-shadow: white 5px 5px 5px 5px;
     border-radius: 10px;
     background-color:transparent;
     border:antiquewhite 1px solid ;
     color: wheat;
}

#reset:hover{
     font-size: 23px;
    height: 60px ;
    width: 90px;
    
     border-radius: 10px;
         background-color: black;
     color: white;
      transition: 0.3s;
}
}

#pause{
     font-size: 25px;
    height: 60px ;
    width: 110px;
     box-shadow: white 5px 5px 5px 5px;
     border-radius: 10px;
     background-color:transparent;
     border:antiquewhite 1px solid ;
     color: wheat;
}


#pause:hover{
     font-size: 26px;
    height: 65px ;
    width: 115px;
     box-shadow: white 5px 5px 5px 2px;
     border-radius: 10px;
background-color: black;
     color: white;
}

@media (max-width : 576px) {
     #pause{
     font-size: 20px;
    height: 55px ;
    width: 80px;
     box-shadow: white 2px 2px 2px 5px;
     border-radius: 10px;
     background-color:transparent;
     border:antiquewhite 1px solid ;
     color: wheat;
}


#pause:hover{
     font-size: 23px;
    height: 60px ;
    width: 90px;
     box-shadow: white 5px 5px 5px 2px;
     border-radius: 10px;
background-color: black;
     color: white;
     border: black 1px solid;
     transition: 0.3s;
}
}